<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.programmeerproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitleBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnVzF4i5BZl1RQbpX-kx5Sds7T3TSFqlU" />

        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PinboardActivity"
            android:theme="@style/Titlebar"
            android:label="Pinboard"></activity>
        <activity
            android:name=".MapsActivity"
            android:theme="@style/NoTitleBar"></activity>
        <activity
            android:name=".GroupActivity"
            android:theme="@style/Titlebar"
            android:label="My groups"></activity>
        <activity
            android:name=".NewGroupDialog"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"></activity>
    </application>

</manifest>